## Basic Syntax rule

In [ ]:
#case Sensitive [This is a single line comment]
''' This is a multi-line comment'''

# 1) Python is case sensitive

name = "Iron man "
Name = "Hulk"

print(name)
print(Name) 

# Both variables are different due to case sensitivity

Iron man
Hulk

In [5]:
# 2) Indentation is important in Python

age= 32
if age > 30:
    print("You are older than 30") # This line is indented

You are older than 30

In [13]:
## what error occur?

age= 32
if age > 30:
print("You are older than 30") # This line is not indented

IndentationError: expected an indented block after 'if' statement on line 4 (1874859028.py, line 5)

In [6]:
# 3) Line continuation
# If a statement is too long, you can use a backslash to continue it on the next line

total = 1 + 2 + 3 + 4 + 5 + \
        6 + 7 + 8 + 9 + 10  
print("Total is:", total)

Total is: 55

In [7]:
# 4) multiple statements on a single line
x = 5; y = 10; z = 15
print("x:", x, "y:", y, "z:", z)

x: 5 y: 10 z: 15

## Understanding semantics in python

In [11]:
# Variable assignment
a = 10 # kernal automatically assigns the value 10 to variable a as an integer
type(a)

int

In [ ]:

type(name)

str

In [12]:
## type inference 

variable = 10
print(type(variable))
variable = "Hello"
print(type(variable))

<class 'int'>
<class 'str'>

## 2) Variables

In [ ]:
age = 19
height = 5.9
is_student = True   
name = "Sourav"

print(age, type(age))
print(height, type(height))
print(is_student, type(is_student)) 
print(name, type(name))

# python is dynamically typed, meaning you don't need to declare the type of a variable explicitly. The type is inferred at runtime based on the value assigned to the variable.

19 <class 'int'>
5.9 <class 'float'>
True <class 'bool'>
Sourav <class 'str'>

In [20]:
# Type conversion

age = 19
age_str = str(age)  # Convert integer to string
print(age_str, type(age_str))

num ='25'
num_int = int(num)  # Convert string to integer
print(num_int, type(num_int))

alpha = 'A'
alpha_int = ord(alpha)  # Convert character to its ASCII integer value
print(alpha_int, type(alpha_int))

name = "sourav"
name_int = int(name)  # cannot Convert string to integer
print(name_int, type(name_int))

19 <class 'str'>
25 <class 'int'>
65 <class 'int'>

ValueError: invalid literal for int() with base 10: 'sourav'

In [21]:
## Common error

result = "Chai" + 5  # This will raise an error because you cannot concatenate a string and an integer
print(result)

TypeError: can only concatenate str (not "int") to str

In [22]:
result = "Chai" + str(5)  # Correct way to concatenate a string and an integer
print(result)

Chai5

## 3) Operators

### ARITHMETIC OPERATORS
- Addition 
- Substruction
- Multiplication
- Division
- Floor Division
- Modulus
- Exponentiation

In [25]:
a = 10
b = 15

add_result = a + b  # Addition
sub_result = a - b  # Subtraction   
mul_result = a * b  # Multiplication
div_result = a / b  # Division
floor_div_result = a // b  # Floor Division
mod_result = a % b  # Modulus
exp_result = a ** b  # Exponentiation
print("Addition:", add_result)
print("Subtraction:", sub_result)
print("Multiplication:", mul_result)
print("Division:", div_result)
print("Floor Division:", floor_div_result)
print("Modulus:", mod_result)
print("Exponentiation:", exp_result)

Addition: 25
Subtraction: -5
Multiplication: 150
Division: 0.6666666666666666
Floor Division: 0
Modulus: 10
Exponentiation: 1000000000000000

In [26]:
# Normal division
result = 10 / 3 
print("Normal Division Result:", result)
# Floor division
result = 10 // 3
print("Floor Division Result:", result)

Normal Division Result: 3.3333333333333335
Floor Division Result: 3

### COMPARISION OPERATORS
- Equal to
- Not equal to
- Greater than 
- Less than
- Greater than or equal to
- Less than or equal to

In [ ]:
#Comparison Operators returns a boolean value (True or False) based on the comparison of two values.

a = 10
b = 10

result = (a==b)
print(result)

str1 = "Tony stark"
str2 = "iron man"

print(str1 != str2)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

True
True
False
False
True
True

### LOGICAL OPERATORS
- AND
- OR
- NOT

In [1]:
x = True
y = False

print(x and y)  # Logical AND
print(x or y)   # Logical OR    
print(not x)    # Logical NOT

False
True
False