## 1) Conditional Statement

In [1]:
# if
age =20
if age >= 18:
    print("You are eligible to vote.")
# else
else:
    print("You are not eligible to vote.")

# elif
if age < 18:
    print("You are a minor.")
elif age >= 18 and age < 60:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

You are eligible to vote.
You are an adult.

In [2]:
## Nested if statements
year = 2024
# Leap year checker using nested if statements
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print(f"{year} is a leap year.")
        else:
            print(f"{year} is not a leap year.")
    else:
        print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

2024 is a leap year.

## 2) Loops

In [6]:
#for loop

for i in range(1, 6):
    print("Iteration:", i)

for i in range(1, 11 , 2): # Step of 2
    print(i)
    
for i in range(10, 0, -1): # Reverse order
    print(i)

Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 5
1
3
5
7
9
10
9
8
7
6
5
4
3
2
1

In [7]:
## strings

name = "John wick"

for i in name:
    print(i)

J
o
h
n

w
i
c
k

In [8]:
# 2) WHile loop
## the while loop is continued as long as the condition is true
count = 0
while count < 5:
    print("Count is:", count)
    count += 1  # Increment the count by 1

Count is: 0
Count is: 1
Count is: 2
Count is: 3
Count is: 4

In [9]:
# 3) Loop control statements

# break
#   The break statement is used to exit a loop prematurely.
for i in range(1, 11):  
    if i == 6:
        break  # Exit the loop when i is 6
    print(i)

1
2
3
4
5

In [10]:
#Continue
#   The continue statement skips the current iteration and moves to the next iteration of the loop. 

for i in range(10):
    if i % 2 == 0:
        continue  # Skip even numbers
    print(i)  # This will only print odd numbers

1
3
5
7
9

In [ ]:
#Pass
# The pass statement is a null operation; it does nothing when executed. It is often used as a placeholder in loops or conditional statements where code will be added later.
for i in range(5):
    if i % 2==0:
        pass  
    print(i)  # This will print all numbers from 0 to 4, including 2

0
1
2
3
4

In [12]:
# Nested Loops
for i in range(1, 4):  # Outer loop
    for j in range(1, 4):  # Inner loop
        print(f"i: {i}, j: {j}") 


# Nested loops are useful for iterating over multi-dimensional data structures, such as lists of lists or matrices.
# They can also be used for more complex tasks, such as generating combinations or permutations of elements

i: 1, j: 1
i: 1, j: 2
i: 1, j: 3
i: 2, j: 1
i: 2, j: 2
i: 2, j: 3
i: 3, j: 1
i: 3, j: 2
i: 3, j: 3

In [ ]:
'''Calculate the sum of first n natural numbers using a for loop'''

n= 10
sum_n = 0
for i in range(1, n + 1):
    sum_n += i
print(f"The sum of the first {n} natural numbers is: {sum_n}")

#while loop example
    
sum_n = 0
count = 1
while count <= n:
    sum_n += count
    count += 1
print(f"The sum of the first {n} natural numbers is: {sum_n}")

The sum of the first 10 natural numbers is: 55
The sum of the first 10 natural numbers is: 55

In [15]:
''' Prime number bwetween 1 and 100'''
for num in range(2, 101):
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97